# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook files
.ipynb_checkpoints/
*.ipynb

#VS code files
.vscode/

#OS files
.DS_Store
desktop.ini

# GUMP-related test/working files 
GUMP_Results/